.link {
    color: #1B1C21;
}

.mobile-menu {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 320px;
    box-shadow: 10px 0px 50px rgba(14, 24, 80, 0.2);
    background: #FFFFFF;
}

.mobile-menu__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 17px 24px;
}

.mobile-menu__header .header__logo::before {
    display: none;
}

.burger-button--close {
    margin-right: 17px;
}

.button--search {
    margin-left: auto;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 0 24px 32px 24px;
}

.mobile-nav__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
    font-weight: 500;
}

.mobile-nav__item {
    display: flex;
    align-items: center;
    height: 32px;
    color: #1B1C21;
    transition: color 0.2s;
}

.mobile-nav__item:hover {
    color: #7E7E82;
}

.mobile-nav__item--selected {
    color: #7E7E82;
}

.mobile-nav__item--selected::before {
    content: "";
    display: block;
    width: 4px;
    height: 32px;
    background-color: #41f6d7;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: -24px;
    margin-right: 20px;
}

.mobile-nav__bottom {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.mobile-nav__mail {
    font-size: 16px;
    font-weight: 500;
}

.mobile-nav__number {
    font-size: 24px;
    font-weight: 700;
}

.link {
    transition: opacity 0.2;
}

.link:hover {
    opacity: 0.8;
}

.lang-select {
    display: flex;
    gap: 7px;
}

.lang-select__button {
    font-size: 16px;
    font-weight: 500;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.2;
}

.lang-select__button:hover {
    opacity: 0.8;
}

.lang-select__button--selected {
    color: #7E7E82;
}