@font-face {
    font-family: TTLakes;
    font-weight: 400;
    src: url(../fonts/TTLakes-Regular.woff) format("woff");
}

@font-face {
    font-family: TTLakes;
    font-weight: 500;
    src: url(../fonts/TTLakes-Medium.woff) format("woff");
}

@font-face {
    font-family: TTLakes;
    font-weight: 700;
    src: url(../fonts/TTLakes-Bold.woff) format("woff");
}

body {
    font-family: TTLakes;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.main {
    padding-top: 24px;
}

.title {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 28px;
}

.title::before {
    content: "";
    display: block;
    width: 4px;
    height: 40px;
    background-color: #41f6d7;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-right: 12px;
}

.text {
    font-weight: 400;
    font-size: 14px;
}

.text--gray {
    color: #7e7e82;
}

.container {
    width: 100%;
}

.header {
    background-color: #fff;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
}

.header__left,
.header__right {
    display: flex;
    align-items: center;
}

.header__right-buttons-group {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__right-buttons-group:last-child::before {
    content: "";
    display: block;
    margin-right: 4px;
    margin-left: 20px;
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    border-radius: 1px;
}

.header__logo-img {
    width: 96px;
    height: 50px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    background-color: #ff3e79;
    cursor: pointer;
    transition: opacity 0.2s ease-out;
}

.button:hover {
    opacity: 0.8;
}

.header__button-img {
    width: 20px;
    height: 20px;
}

.services__links-group {
    display: none;
}

.services__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.services__list-item {
    font-weight: 400;
    font-size: 16px;
    color: #7e7e82;
    cursor: pointer;
    white-space: nowrap;
}

.services__list-item--active {
    border: 2px solid #b8ffec;
    border-radius: 6px;
    background-color: #ffffff;
}

.services__text:not(:last-child) {
    margin-bottom: 20px;
}

.services__link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #1b1c21;
    font-weight: 500;
    width: fit-content;
    background: none;
    border: none;
}

.footer {
    background-color: #fff;
}

@media (min-width: 320px) {
    .header {
        padding: 0 16px;
    }

    .header__burger-button {
        margin-right: 17px;
    }

    .header__right-buttons-group:first-child {
        display: none;
    }

    .title {
        margin-bottom: 24px;
    }

    .title::before {
        margin-right: 12px;
    }

    .services__list {
        display: flex;
        overflow-y: scroll;
    }

    .services__list-item {
        padding: 8px 9px;
    }

    .blur-block {
        position: relative;
        margin: 0 16px;
        margin-bottom: 24px;
        display: flex;
        justify-content: center;
    }

    .blur-block::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 24px;
        background: linear-gradient(270deg,
                #f8f8f8 16.84%,
                rgba(248, 248, 248, 0.0001) 100%);
    }

    .services__tab-text {
        margin-bottom: 16px;
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .services__text:not(:first-child) {
        display: none;
    }
}

@media (min-width: 768px) {
    .header {
        padding: 0 24px;
    }

    .header__burger-button {
        margin-right: 0;
    }

    .header__logo {
        display: flex;
        align-items: center;
    }

    .header__logo::before {
        content: "";
        display: block;
        margin: 0 20px;
        width: 2px;
        height: 32px;
        background-color: #eaeaea;
        border-radius: 1px;
    }

    .header__right-buttons-group:first-child {
        display: flex;
    }

    .title::before {
        margin-right: 20px;
    }

    .services__content {
        gap: 32px;
        padding: 0 24px;
    }

    .blur-block {
        position: relative;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .services__tab {
        display: flex;
        justify-content: space-between;
    }

    .services__tab-img {
        width: 360px;
        height: 100%;
        border-radius: 10px;
    }

    .services__tab-text {
        width: 50%;
        margin-bottom: 10px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .services__text:not(:first-child) {
        display: block;
    }
}

@media (min-width: 1120px) {
    .main {
        padding-top: 42px;
    }

    .container {
        width: 1120px;
        margin: 0 auto;
    }

    .header {
        display: none;
    }

    .services__head {
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 24px;
        padding-right: 34px;
    }

    .title {
        margin-bottom: 0;
    }

    .title::before {
        margin-right: 28px;
    }

    .services__links-group {
        display: flex;
        gap: 32px;
    }

    .services__link-text {
        font-weight: 500;
    }

    .services__content {
        gap: 7px;
        padding: 0 34px 49px 34px;
    }

    .blur-block {
        justify-content: start;
    }

    .blur-block::after {
        display: none;
    }

    .services__list {
        flex-wrap: wrap;
        overflow-y: auto;
    }

    .services__list-item {
        padding: 8px 18px;
    }

    .services__tab {
        align-items: start;
        justify-content: space-between;
        gap: 34px;
    }

    .services__tab-text {
        margin-top: 9px;
        margin-bottom: 0;
    }

    .services__tab-img {
        width: 50%;
        height: 100%;
    }
}