.title-container__sub-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    white-space: normal;
    color: $secondary-text;
}

.swiper-brands__blur-block {
    display: none;
}

.arrow-btn {
    display: flex;
    gap: 8px;
    transition: opacity 0.2s;
    cursor: pointer;

    &::before {
        content: url(../img/expand.svg);
        display: block;
        width: 24px;
        height: 24px;
        transition: transform 0.2s;
        transform: rotateX(0);
    }

    &:hover {
        opacity: 0.8;
    }
}

.button-spoiler {

    .arrow-btn {
        &::before {
            content: url(../img/expand.svg);
            display: block;
            width: 24px;
            height: 24px;
            transition: transform 0.2s;
            transform: rotateX(180deg);
        }
    }

    &--closed {

        .arrow-btn::before {
            transition: transform 0.2s;
            transform: rotateX(0);
        }
    }

}

@media (min-width: 320px) {
    .title-container {
        padding: 16px;
        background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
        border-top: 1px solid rgba(217, 255, 245, 1);
    }

    .swiper-brands {
        position: relative;
        padding: 16px 16px 0 16px;

        &__blur-block {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 24px;
            background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
            z-index: 1;
        }

        &__pagination {
            position: static;
            margin-top: 16px;
            --swiper-pagination-color: #B5B6BC;
            --swiper-pagination-bullet-inactive-color: #DDDDDD;
            --swiper-pagination-bullet-inactive-opacity: 1;
            --swiper-pagination-bullet-size: 12px;
            --swiper-pagination-bullet-horizontal-gap: 6px;
        }
    }

    .swiper-tech {

        .swiper-slide__inner {
            height: 160px;
            padding: 16px;
        }

        .swiper-slide__text {
            align-self: flex-start;
            font-size: 16px;
            font-weight: 500;
            color: $primary-text;
        }

        .swiper-slide__link-button {
            align-self: flex-end;
        }
    }

    .swiper-slide {
        width: fit-content;

        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 16px;
            width: 240px;
            height: 72px;
            border: 1px solid #EAEAEA;
            border-radius: 5px;
            background-color: white;
        }

        &__link-button {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            width: 40px;
            height: 40px;
            border: 2px solid $button;
            border-radius: 100%;
            background: none;
            transition: opacity 0.2s;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .button-spoiler {
        display: none;
    }
}

@media (min-width: 768px) {
    .swiper-brands {
        padding: 24px;

        &__swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 224px);
            gap: 16px 24px;
        }

        &__pagination {
            display: none;
        }

        &__blur-block {
            display: none;
        }
    }

    .swiper-slide__inner {
        width: 224px;
        overflow: hidden;
        transition: height 0.1s;
    }

    .hidden .swiper-slide__inner {
        height: 0;
        border: none;
    }

    .button-spoiler {
        display: flex;
        margin-top: 24px;
    }

}

@media (min-width: 1024px) {
    .swiper-brands__swiper-wrapper {
        grid-template-columns: repeat(4, 224px);
        gap: 16px 24px;
    }
}

@media (min-width: 1120px) {
    .title-container {
        padding: 16px 32px;
    }

    .swiper-brands {
        padding: 24px 32px;

        &__swiper-wrapper {
            grid-template-columns: repeat(4, 240px);
            gap: 16px 32px;
        }
    }

    .swiper-slide__inner {
        width: 240px;
    }
}